<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>显示标注-tustMap</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <style>
        .amap-logo, .amap-copyright {
            display:none
        }
        .amap-btn {
            position: absolute;
            bottom: 1px;
            font-size: 12px;
            padding: 10px;
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li><a href="../../index.html">初始化地图</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">标注操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="#">显示标注</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../drawMarker/drawMarker.html">绘制标注</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../editMarker/editMarker.html">编辑标注</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">线段操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../showPolyline/showPolyline.html">显示线段</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../drawPolyline/drawPolyline.html">绘制线段</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../editPolyline/editPolyline.html">编辑线段</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">多边形操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../showPolygon/showPolygon.html">显示多边形</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../drawPolygon/drawPolygon.html">绘制多边形</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../editPolygon/editPolygon.html">编辑多边形</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div id="allmap" style="width: 80%; height: 450px; border: 1px solid;"></div>
                <div class="btn-group amap-btn">
                    <input type="button" class="btn btn-xs btn-success amap-btn-save" value="保存"/>
                    <input type="button" class="btn btn-xs btn-danger amap-btn-remove" value="删除"/>
                    <input type="button" class="btn btn-xs btn-warning amap-btn-reset" value="重置"/>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">map.setMarker(position, options)</div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                添加简单标注
                                <br>
                                <code>
                                    myMap.setMarker([117.278097,39.077101]);
                                </code>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">options选项</div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                目前支持4个参数
                                <br>
                                <code>
                                    var markerOptions = { <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;icon: Object, // 标记的图标 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;title: String, // 鼠标移动到标记上的文字 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;extData: any, // 扩展属性，可以为id <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;_click: Function // 点击标记的事件函数 <br>
                                    };
                                </code>
                            </li>
                            <li>
                                <code>
                                    myMap.setMarker([117.278097,39.077101], markerOptions);
                                </code>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=236ec5ae07cc9304abc126307ba7ece1&plugin=AMap.MouseTool,AMap.PolyEditor"></script>
    <script src="../../js/tustMap.js"></script>
    <script src="showMarker.js"></script>
</body>
</html>