<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>显示线段-tustMap</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <style>
        .amap-logo, .amap-copyright {
            display:none
        }
        .amap-btn {
            position: absolute;
            bottom: 1px;
            font-size: 12px;
            padding: 10px;
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li><a href="../../index.html">初始化地图</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">标注操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../showMarker/showMarker.html">显示标注</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../drawMarker/drawMarker.html">绘制标注</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../editMarker/editMarker.html">编辑标注</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">线段操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../showPolyline/showPolyline.html">显示线段</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../drawPolyline/drawPolyline.html">绘制线段</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../editPolyline/editPolyline.html">编辑线段</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">多边形操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="#">显示多边形</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../drawPolygon/drawPolygon.html">绘制多边形</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../editPolygon/editPolygon.html">编辑多边形</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div id="allmap" style="width: 80%; height: 450px; border: 1px solid;"></div>
                <div class="btn-group amap-btn">
                    <input type="button" class="btn btn-xs btn-success amap-btn-save" value="保存"/>
                    <input type="button" class="btn btn-xs btn-danger amap-btn-remove" value="删除"/>
                    <input type="button" class="btn btn-xs btn-warning amap-btn-reset" value="重置"/>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">map.setPolygon(data, options)</div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                添加多边形
                                <br>
                                <code>
                                    var polygonData = [ <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;[117.378097,39.177101], <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;[117.528097,39.447101], <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;[118.998097,39.997101] <br>
                                    ]; <br>
                                    myMap.setPolygon(polygonData);
                                </code>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">options</div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                目前支持7个参数
                                <br>
                                <code>
                                    var polylineOptions = { <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;strokeColor: String, // 边线色，默认值'#FF33FF' <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;strokeOpacity: Number, // 边线透明度，默认值0.2 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;strokeWeight: Number, // 边线宽，默认值3 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;fillColor: String, // 填充色，默认值'#1791fc' <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;fillOpacity: Number, // 默认值0.35 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;extData: any, // 扩展属性，可以为id <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;_click: Function, // 点击多边形的事件函数 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;_dblclick: Function // 双击多边形的事件函数 <br>
                                    };
                                </code>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">polygon相关方法</div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                获取自定义属性
                                <br>
                                <code>
                                    polygon.getExtData();
                                </code>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=236ec5ae07cc9304abc126307ba7ece1&plugin=AMap.MouseTool,AMap.PolyEditor,AMap.Scale,AMap.OverView,AMap.ToolBar"></script>
    <script src="../../js/tustMap.js"></script>
    <script src="showPolygon.js"></script>
</body>
</html>
